{% extends 'layout.html' %}

{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1><span class="glyphicon glyphicon-wrench"></span> Under Construction</h1>
    <p>There's not much to do here now, but you can find me on:</p>
    <p><a href="https://github.com/tandrewnichols" class="mrm btn btn-primary btn-lg">Github</a><a href="https://www.npmjs.org/~tandrewnichols" class="mrm btn btn-primary btn-lg">npm</a><a href="https://twitter.com/tandrewnichols" class="btn btn-primary btn-lg">Twitter</a></p>
  </div>
</div>
{% endblock %}
