{% extends 'layout.html' %}

{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1><span class="glyphicon glyphicon-wrench"></span> Under Construction</h1>
    <p>There's not much to do here now, but you can find me on:</p>
    <p>
    <a id="github-main" ng-init="mixpanel.track_links('#github-main', 'Click', { target: 'github', page: 'profile' })" href="https://github.com/tandrewnichols" class="mrm btn btn-primary btn-lg"><span class="fa fa-github"></span>&nbsp;&nbsp;Github</a>
    <a id="npm-main" ng-init="mixpanel.track_links('#npm-main', 'Click', { target: 'npm', page: 'profile' })" href="https://www.npmjs.org/~tandrewnichols" class="mrm btn btn-primary btn-lg"><span class="ta ta-npm"></span>&nbsp;&nbsp;Npm</a>
    <a id="twitter-main" ng-init="mixpanel.track_links('#twitter-main', 'Click', { target: 'twitter', page: 'profile' })" href="https://twitter.com/tandrewnichols" class="btn btn-primary btn-lg"><span class="fa fa-twitter"></span>&nbsp;&nbsp;Twitter</a></p>
  </div>
</div>
{% endblock %}
