<!doctype html>
<html ng-app="app">
  <head>
    <style>
      body {
        padding-top: 70px;
      }
    </style>
    <link rel="stylesheet" type="text/css" href="/assets/app.css" media="all" />
    {% block styles %}{% endblock %}
    {% block analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ settings.ua }}', 'auto');
        ga('send', 'pageview', '{{ page }}');
      </script>
    {% endblock %}
  </head>
  <body>
    {% block header %}
      <div class="navbar navbar-default navbar-fixed-top">
        <div class="mlx" style="margin-right: 90px;">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <span class="circular pull-left" style="margin-top: 11px; background-image: url(https://secure.gravatar.com/avatar/89e046d45bc6aa524a2164a952ba9860?s=40)"></span>
            <a href="/" class="navbar-brand ">Andrew Nichols</a>
          </div>
          <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/blog">Blog</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Modules <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li class="dropdown-header">tandrewnichols</li>
                  {% for module in modules.me %}
                  <li><a href="/{{ module }}">{{ module }}</a></li>
                  {% endfor %}
                  <li class="divider"></li>
                  <li class="dropdown-header">mantacode</li>
                  {% for module in modules.mantacode %}
                  <li><a href="/{{ module }}">{{ module }}</a></li>
                  {% endfor %}
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    {% endblock %}
    {% block content %}{% endblock %}
    <script type="text/javascript" src="/assets/app.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    {% block scripts %}{% endblock %}
  </body>
</html>
