{% extends 'layout.html' %}

{% block content %}
  <div class="container content">
    {% if moduleName %}
      <div class="pull-right btn-row">
        <a href="https://github.com/{{ author }}/{{ moduleName }}" target="_blank" class="btn btn-primary"><span class="fa fa-github"></span> View on Github</a>
        <a href="https://www.npmjs.org/package/{{ moduleName }}" target="_blank" class="btn btn-primary">View on npm</a>
        <a href="http://twitter.com/share" tweet='Check out "{{ moduleName }}" at' tweet-tags="nodejs" class="btn btn-info"><span class="fa fa-twitter"></span> Tweet it</a>
      </div>
    {% endif %}
    <%= content %>
  </div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    $(function() {
      var elems = $('.container.content').find('h1, h2, h3, h4, h5, h6').map(function(i, elem) {
        return '#' + elem.id;
      });
      $.scrollDepth({
        elements: $.makeArray(elems)
      });
    });
  </script>
{% endblock %}
