{% extends 'layout.html' %}

{% block content %}
  {% if moduleName %}
    <div class="mrm pull-right btn-row">
      <div class="col-xs-12">
        <a id="github-{{ moduleName }}" ng-init="mixpanel.track_links('#github-{{ moduleName }}', 'Click', { target: 'github', page: '{{ moduleName }}' })" href="https://github.com/{{ author }}/{{ moduleName }}" target="_blank" class="btn btn-primary"><span class="fa fa-github"></span>&nbsp;&nbsp;View it on Github</a>
        <a id="npm-{{ moduleName }}" ng-init="mixpanel.track_links('#npm-{{ moduleName }}', 'Click', { target: 'npm', page: '{{ moduleName }}' })" href="https://www.npmjs.org/package/{{ moduleName }}" target="_blank" class="btn btn-primary"><span class="ta ta-npm"></span>&nbsp;&nbsp;View it on npm</a>
        <a href="http://twitter.com/share" tweet='Check out "{{ moduleName }}" at' tweet-tags="nodejs" tweet-topic="{{ moduleName }}" class="btn btn-info"><span class="fa fa-twitter"></span>&nbsp;&nbsp;Tweet it</a>
      </div>
    </div>
  {% endif %}
  <div class="container content">
    <%= content %>
  </div>
{% endblock %}
