{%= extends 'layout.html' %}

{%= block content %}
<div>
  <%= content %>
</div>
{%= endblock %}

<div id="disqus_thread"></div>
<script type="text/javascript">
  var disqus_shortname='tandrewnichols',disqus_identifier='<%= disqus.id %>',disqus_title='<%= disqus.title %>',disqus_url='http://www.tandrewnichols.me/cp/posts/<%= disqus.slug %>',disqus_categorgy_id='<%= disqus.category %>';
  (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
